<!DOCTYPE html>

<html>

<head>
    <title>About</title>    
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>


<body>

<div class="main-content">
    {{>header}}
    <div></div>
    <img src="/img/me.png" class="portrait">
    <p>This site was created by Rafael Ortiz. It uses data from mabpbox.com and weatherstack.com</p>
</div>
    {{>footer}}


</body>

</html>