body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0 ;
    padding: 0 ;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    font-size: 2.5vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    background: #333333;
    color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 200px;
    text-align: center;
    border-top: 8px solid #9774CC ;
    bottom:0;
    position: absolute;
    width: 100%;
    font-size: 2.5vh;
}

header {
    top: 0;
    margin-bottom: 64px;
    text-align: center;
    background-color: #333333;
    padding: 2vh;
    border-bottom: 8px solid #9774CC ;

}

h1 {
    font-size: 8vh;
    margin-bottom: 16px;
    color: #9774CC;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
    font-size: 3vh;
}

.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

input {
    border: 1px solid transparent;
    padding: 8px;
    box-shadow: 0 1px 4px;
    font-size: 2.5vh;
    text-align: center;
}

::placeholder {
    text-align: center;
}

button {
    cursor: pointer;
    border: 1px solid #FFF;
    border-radius: 6px;
    background: #FFF;
    color: #191919;
    padding: 8px;
    margin: 20px;
    box-shadow: 0 1px 4px;
    font-size: 2.5vh;
}